<ion-view title="Item Detail" id="page7">
    <ion-content padding="true" class="has-header">
        <h1 id="itemDetail-heading1" style="color:#000000;text-align:center;">Title</h1>
        <div id="itemDetail-markdown2" style="color:#000000;">
            <p>
                <em>Content</em>
            </p>

            <ol>
                <li>First do this</li>
                <li>And then do that</li>
                <li>Finally do that</li>
            </ol>

            <p>And
                <strong>done</strong>!</p>
        </div>
        <a ui-sref="editItem" id="itemDetail-button13" class="button button-positive  button-block">Edit</a>
    </ion-content>
</ion-view>