<ion-view title="Log In" hide-back-button="true" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="logIn-form1" class="list">
            <ion-list id="logIn-list1">
                <label class="item item-input" id="logIn-input1">
                    <span class="input-label">Username</span>
                    <input ng-model="user.username" type="text">
                </label>
                <label class="item item-input" id="logIn-input2">
                    <span class="input-label">Password</span>
                    <input ng-model="user.password" type="password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ng-click="login()" id="logIn-button1" class="button button-stable  button-block">Log in</a>
            <a ui-sref="signUp" id="logIn-button2" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>