<ion-view title="Sign Up" hide-back-button="true" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="signUp-form2" class="list">
            <ion-list id="signUp-list2">
                <label class="item item-input" id="signUp-input3">
                    <span class="input-label">Username</span>
                    <input ng-model="user.username" type="text">
                </label>
                <label class="item item-input" id="signUp-input4">
                    <span class="input-label">Password</span>
                    <input ng-model="user.password" type="password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ng-click="signup()" id="signUp-button3" class="button button-stable  button-block">Sign Up</a>
            <a ui-sref="logIn" id="signUp-button4" class="button button-positive  button-block button-clear">Or log in to existing account</a>
        </form>
    </ion-content>
</ion-view>