<ion-view title="{{username + '\'s ToDo List'}}" hide-back-button="true" id="page5">
    <ion-content padding="true" class="has-header">
        <div id="toDoList-button-bar1" class="button-bar"></div>
        <div id="toDoList-button-bar2" class="button-bar">
            <a ng-click="logout()" id="toDoList-button9" class="button button-positive  button-block button-outline">Log Out</a>
            <a ui-sref="addItem" id="toDoList-button11" class="button button-positive  button-block">Add</a>
        </div>
        <ion-list id="toDoList-list4">
            <ion-item ng-repeat="item in items" ng-attr-id="{{'toDoList-list-item' + $index}}" ui-sref="itemDetail">
                <span ng-bind="item.title"></span>
                <span ng-bind="item.content" class="item-note"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>